torch
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
langchain-community
pandas
pandasai
docx2txt
PyPDF2
fitz
pytesseract
pymupdf
networkx
scikit-learn
python-louvain
spacy
gensim
accelerate